.about{
    background-color: white;
    width: 80%;
    margin: -4rem auto 0 auto;
    box-shadow: 2px 2px 4px #0000006b;
    padding: 4rem 1rem;

&__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
&__img {
    height: 7rem;
    width: 7rem;
}

}