.history{
    padding: 1rem 2rem 1rem 0;

    &__content{
        display: flex;

    }

    &__img--container{
        width: 50%;
        background-image: url(./../images/pexels-mentatdgt-1336873.jpg);
        background-attachment: fixed;
        margin-right: 2rem;        
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }

    &__img{
        width: 100%;
        
    }

    &__text{
        width: 50%;
    }

    &__title{
        font-size: 1.6rem;
        margin-top: 0;
    }

    &__desc{
        font-size: 1.2rem;
        line-height: 1.4;
    }

    &__btn{
        text-decoration: none;
        box-shadow: 2px 2px 4px #000000;
        background: orange;
        color: #000000;
        padding: .8rem 1rem;
        border-radius: 5px;
       
    }
}